body {
  font-family: "Open Sans", sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../images/bg-mobile.svg) no-repeat #674baf;
  background-size: contain;
  margin: 0;
  padding: 38px 38px 0;
}

#logo {
  width: 32vw;
  max-width: 10rem;
  align-self: flex-start;
}

#illustration {
  padding: 60px 0;
  width: 100%;
  max-width: 650px;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

#main-container #main-heading {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

#main-container #main-text {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.808);
  line-height: 1.5rem;
  padding: 0px 0 10px;
  max-width: 600px;
}

#main-container #Register-btn {
  font-size: 0.95rem;
  font-weight: 400;
  width: 210px;
  height: 2.5rem;
  border-radius: 20px;
  border: none;
  box-shadow: 0 1px 5px -0.5px black;
  background-color: white;
  color: #674baf;
  transition: all 0.3s;
  cursor: pointer;
}

#main-container #Register-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 10px -1px black;
}

#main-container #Register-btn:active {
  width: 220px;
  box-shadow: 0 0px 5px -1px black;
}

#main-container #icons-container {
  display: flex;
  column-gap: 10px;
  margin-top: 70px;
}

#main-container #icons-container .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s;
  border: 1px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#main-container #icons-container .icons:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 5px black;
}

#main-container #icons-container .icons:active {
  transform: translateY(-2px);
  width: 31px;
  box-shadow: 0 0 2px black;
}

footer {
  text-align: center;
  padding: 15px 0 5px;
  font-weight: 600;
}

footer a {
  color: blue;
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content;
    align-items: center;
    justify-content: center;
    background-image: url(../images/bg-desktop.svg);
    background-size: 90vw 100%;
    column-gap: 5vw;
    row-gap: 2vw;
    margin: 0;
    padding: 0 3vw;
    height: 100vh;
  }
  #logo {
    width: 20vw;
    max-width: 180px;
    grid-column: 1/3;
    padding-top: 6vh;
  }
  #illustration {
    padding: 0;
    width: 50vw;
    max-width: 650px;
  }
  #main-container {
    align-items: flex-start;
    text-align: left;
    width: 100%;
    max-width: 460px;
    padding-bottom: 7vw;
  }
  #main-container #main-heading {
    font-size: 2.5vw;
  }
  #main-container #Register-btn {
    width: 175px;
  }
  #main-container #Register-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 10px -1px black;
  }
  #main-container #Register-btn:active {
    transform: translateX(5px);
    width: 160px;
    box-shadow: 0 2px 5px -1px black;
  }
  #main-container #icons-container {
    position: absolute;
    align-self: flex-end;
    bottom: 45px;
  }
  footer {
    position: absolute;
    padding: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
/*# sourceMappingURL=main.css.map */